name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  snake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Prepare dist folder
        run: mkdir -p dist
      - name: Generate snake animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: bujhmml
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
      - name: Commit snake files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update snake graph"
          file_pattern: dist/github-contribution-grid-snake.svg dist/github-contribution-grid-snake-dark.svg
